.shipping {
    display: flex;
    padding: 25px 40px;
    flex-direction: column;
    justify-content: space-around;
}

.form {
    width: 80vw;
    margin: auto;
}

.form-payment {
    width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.shipping-form {
    width: 80vw;
    margin: auto;
}

.form-payment {
    width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.shipping_search {
    padding: 25px 40px;
}
